.user-otp-form input::placeholder{
    font-size: 13px;
}



.form-error-p-tag{
    font-size: 8pt;
    padding: 0 0 0 38px;
    position: relative;
    top: -10px;   
    color: rgb(252, 51, 51); 
}
.css-0 {
    width: 2.5rem;
    border: solid 0.0625rem rgb(188, 213, 232); 
    height: 2.5rem; 
    border-radius: 0.625rem; 
    margin-left: 0.1875rem; 
    text-align: center;
}

  