#root {
    font-family: 'Satoshi', sans-serif;
    // color: #333;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.registration-container{
    background-color: black;
    // background-image: url("https://d2y3cuhvusjnoc.cloudfront.net/bee1ece779b9eae59b57ae67d6f40a26.jpg");
    background-size: cover;
}
.driver-registration-container{
    background-color: black;
    // background-image: url("https://d2y3cuhvusjnoc.cloudfront.net/bee1ece779b9eae59b57ae67d6f40a26.jpg");
    background-size: cover;
}
.admin-login-container{
    // background-color: black;
    background-image: url("/images/admin.jpg");
    background-size: cover;
}